<form [formGroup]="updateUserForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
    <h4>Update User Form</h4>
    <div class="column content">
      <div class="mt-2">
        <div class="cell">
          <mat-form-field appearance="outline">
            <mat-label class="fw-bold">First Name: </mat-label>
            <input matInput type="text" formControlName="first_name" />
          </mat-form-field>
        </div>

        <div class="cell">
          <mat-form-field appearance="outline">
            <mat-label class="fw-bold">Last Name: </mat-label>
            <input matInput type="text" formControlName="last_name" />
          </mat-form-field>
        </div>

        <div class="cell">
          <mat-form-field appearance="outline">
            <mat-label class="fw-bold">Position:</mat-label>
            <input matInput formControlName="position" />
          </mat-form-field>
        </div>

        <div formArrayName="skills">
          <div *ngFor="let skill of skills.controls; let i = index" [formGroupName]="i" class="skill-group">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" placeholder="Skill Title" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Level</mat-label>
              <input matInput formControlName="level" placeholder="Skill Level" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mt-2">
        <button
          mat-raised-button
          type="submit"
          [disabled]="!updateUserForm.valid"
          class="mr-4 float-end"
        >
          Update
        </button>

        <button
          mat-stroked-button
          type="button"
          (click)="onClose()"
          class="mr-4 float-start"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</form>
