/* --------------------------------Toolbar */
.example-spacer {
  flex: 1 1 auto !important;
}

/* --------------------------------Table */

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.w-100 {
  width: 100%;
}

.mat-column-id,
.mat-column-first_name,
.mat-column-last_name,
.mat-column-position,
.mat-column-skills,
.mat-column-action {
  width: 16.66%; 
  box-sizing: border-box;
  word-wrap: break-word; 
}

.mat-header-cell, .mat-cell {
  text-align: center; 
}
